.inventory-title {
    font-size: 12px;
    color: white;
    font-weight: bold;
}

.inventory {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    min-height: 75px;
}

.inventory .item-sprite {
    box-sizing: border-box;
    width: 20%;
    padding: 5px;
    margin-top: 3px;
    position: relative;
}