body {
    background-color: #1e1e1e;
}

.players {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.player-info {
    padding: 5px;
    border: 1px solid #333;
    border-radius: 3px;
    display: inline-block;
    margin: 5px;
    width: 325px;
}

.player-sprite {
    padding-left: 12px;
}

.player-info-body {
    display: block;
    padding-top: 3px;
    width: 100%;
    box-sizing: border-box;
}

.player-title {
    display: inline-block;
}

span.player-name {
    font-size: 15px;
    display: inline-block;
}

span.player-location {
    font-size: 12px;
    display: block;
    color: #8694ac;
}

span.player-status {
    display: block;
    font-size: 12px;
    color: #60a4cf;
}

.ace-wrapper {
    padding: 15px;
    border: 1px solid #333;
    border-radius: 3px;
    background-color: #272822;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.ace_placeholder {
    padding: 0 !important;
}

/*#filterSelect {*/
/*    height: 45px !important;*/
/*}*/

/*.ace_layer.ace_cursor-layer {*/
/*    transform: translate(12px, 12px);*/
/*}*/

/*.ace_layer.ace_text-layer .ace_line {*/
/*    padding: 12px;*/
/*}*/

/*.ace_autocomplete .ace-scroller {*/
/*    transform: translate(12px, 12px);*/
/*}*/

/*div.ace_editor.ace_autocomplete {*/
/*    transform: translate(12px, 12px) !important;*/
/*}*/

/*div.ace_editor.ace_autocomplete > div.ace_scroller > div > div.ace_layer.ace_text-layer {*/
/*    transform: translate(0, -12px) !important;*/
/*}*/

/*div.ace_editor.ace_marker-layer > * {*/
/*    transform: translate(12px, 12px);*/
/*}*/